@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Libre Caslon Text";
    src: url(/fonts/libre-caslon-text-latin-700-normal.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: optional;
  }

  @font-face {
    font-family: "Wotfard";
    src: url(/fonts/wotfard-semibold-webfont.woff2) format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: optional;
  }

  @font-face {
    font-family: "Wotfard";
    src: url(/fonts/wotfard-regular-webfont.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: optional;
  }

  body {
    @apply transition-colors duration-300 ease-out dark:bg-gray-850;
  }

  header {
    @apply font-header text-gray-750 dark:text-gray-150;
  }

  h2,
  p,
  footer {
    @apply text-gray-550 dark:text-gray-350;
  }

  h1,
  h3,
  h4 {
    @apply text-gray-750 dark:text-gray-150;
  }

  hr {
    @apply bg-gray-550 dark:bg-gray-350;
  }
}

@layer components {
  .nav-item {
    @apply p-1 transition-shadow rounded focus:outline-none focus:ring;
  }
}

.notion {
  @apply font-sans;
}

.notion-text {
  @apply mb-4 text-gray-550 dark:text-gray-350;
}

.notion-h1,
.notion-h2,
.notion-h3 {
  @apply mt-4 mb-1 text-gray-750 dark:text-gray-150;
}
